<h3>Users</h3>
<div class="grid">
  <div class="gridRow">
    <div class="gridQuadDiv">
      <p class="underline">First Name</p>
    </div>
    <div class="gridQuadDiv">
      <p class="underline">Last Name</p>
    </div>
    <div class="gridQuadDiv">
      <p class="underline">Email</p> 
    </div>
    <div class="gridQuadDiv">
      <p class="underline">Action</p> 
    </div>
  </div>
  <ul class="usersGrid">
    <li *ngFor="let user of users | async; let i=index">
      <div class="gridRow">
        <div class="gridQuadDiv">
          <p>{{user.firstName}}</p>
        </div>
        <div class="gridQuadDiv">
          <p>{{user.lastName}}</p>
        </div>
        <div class="gridQuadDiv">
          <p>{{user.email}}</p> 
        </div>
        <div class="gridQuadDiv">
          <button (click)="redirect('/update/'+i)">Edit</button> 
        </div>
      </div>
    </li>
  </ul>
</div>